<a href="https://colab.research.google.com/github/ErosVillegass/Programmation-101/blob/main/clase04/02_estructuras_de_datos.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<img src="https://www.ctic.uni.edu.pe/wp-content/uploads/2022/04/588px-x-348px-web-1.png" alt="HTML5 Icon" width="900" height="350" >

<h1 align=center><font size = 5>ESTRUCTURAS DE DATOS - PARTE 1
</font></h1>

---

## Tabla de Contenidos

<div class="alert alert-block alert-info" style="margin-top: 20px">

<font size = 3>
    
1. <a href="#item31">Listas</a>  
2. <a href="#item31">Tuplas</a>  
3. <a href="#item31">Slicing</a>  
4. <a href="#item31">List comprehension</a>  
</font>
</div>

---

## <b>Objetivo:</b>

Este laboratorio está diseñado para cubrir los conceptos de listas, tuplas, slicing, y listas por comprensión, con ejercicios detallados para practicar la manipulación de estos tipos de datos en Python.

---

## <b>1. Trabajando con Listas numéricas</b>

Las listas son una secuencia de elementos que pueden ser modificados después de su creación. Vamos a realizar varias operaciones con listas numéricas, utilizando también la función range() para generar secuencias de números.

### Ejemplo 1.1: Creación de listas

In [ ]:
my_list = [1, 2, 3, 5 , 10,  'hola', 'a', [1, 2, '3']]

In [ ]:
print(my_list)

[1, 2, 3, 5, 10, 'hola', 'a', [1, 2, '3']]

In [3]:
students = ['Angelo', 'Diego', 'Edgar', 'Edwin','Enrique', ['Estuardo','John','Julio'], 'Adolfo' ]
students

print(students[0:2])
#Print Edwin with (-)
print(students[-4])
#Print Edwin and Enrique
print(students[3:5])
#Print John and Julio
print(students[5][1:4])

['Angelo', 'Diego']
Edwin
['Edwin', 'Enrique']
['John', 'Julio']

In [ ]:
students[2]

'Edgar'

In [ ]:
students[3]

'Edwin'

In [ ]:
students[-4]

'Diego'

In [ ]:
# Slicing
#[2 - 4>
students[2:4]

['Edgar', 'Edwin']

In [ ]:
#[-3 - -1>
students[-3:-1]

['Edgar', 'Edwin']

In [8]:

my_list = [1, 2, 3, 4, 5, 6, [7, 8, 9], 10, 11, 12]

print(my_list[7])
print(my_list[-5])

print(my_list[0: 3])

print(my_list[-3:])
print(my_list[5:])
print(my_list[-2:])

10
6
[1, 2, 3]
[10, 11, 12]
[6, [7, 8, 9], 10, 11, 12]
[11, 12]

¿Cómo agregar elementos dentro de una lista?

In [12]:
my_list = [1, 2, 3, 4, 5, 6, [7, 8, 9], 10, 11, 12]

my_list.append("Casa")
my_list.insert(3,"Casa")
my_list.insert(0,"Casota")
my_list.append(1234)
my_list.append(1234156)
my_list.insert(0,"Mami")
my_list.insert(0,"1")

print(my_list)

['1', 'Mami', 'Casota', 1, 2, 3, 'Casa', 4, 5, 6, [7, 8, 9], 10, 11, 12, 'Casa', 1234, 1234156]

Escribe programa que a a recibir el nombre de los estudiantes y el curso. Wardar resultados en listas. El programa debe permanecer abierto hasta salir.   
MOdifique el programa para cada estudiante nueo se warde en el primer slot de la lista.

In [13]:
list_names=[]
list_courses=[]
flag=True
while flag:
  student_name=str(input("Write your name"))
  course_name=str(input("Write your name"))
  list_names.append(student_name)
  list_courses.append(course_name)
  close_program = str(input("Do yo want to close the program Y/N: "))
  if close_program.lower() == "y":
    flag=False

print(list_names)
print(list_courses)

while flag:
  student_name=str(input("Write your name"))
  if student_name in list_names:
    print("You're in the list of students")
  else:
    course_name=str(input("Write your name"))

Write your nameEros
Write your nameEros
Do yo want to close the program Y/N: Y
['Eros']
['Eros']

Del Students with Del array and array.pop()

In [23]:
students =  ['Jhon','Daniel','Ramiro','Herles','Alejandro']
students_b = ['Sherley','Jorge','Bruno']

print(students)
print(students_b)
print(students.pop())
print(students)
print(students.pop())
print(students)

['Jhon', 'Daniel', 'Ramiro', 'Herles', 'Alejandro']
['Sherley', 'Jorge', 'Bruno']
Alejandro
['Jhon', 'Daniel', 'Ramiro', 'Herles']
Herles
['Jhon', 'Daniel', 'Ramiro']

Reciba lista de compras, posteriormente que enie una orden de procesamiento por cada pedido y que elimine paulatinamente cada uno del carrito de compras mientras se procesa.

In [24]:
list_compras = []
flag = True

while flag :
  items = input("Write your items: ")
  list_compras.append(items)
  exit = input ("Do you want to keep adding item: Y/N")
  if exit.lower() == "n":
    flag = False

print("Procesando compras")
print(list_compras)

while len(list_compras) >= 0:
  print(list_compras)
  print(list_compras.pop())
  if len(list_compras) == 0 :
    break

print(list_compras)

Write your items: Papa
Do you want to keep adding item: Y/NY
Write your items: Caramelo
Do you want to keep adding item: Y/NY
Write your items: Camote
Do you want to keep adding item: Y/NY
Write your items: Zanahoria
Do you want to keep adding item: Y/NN
Procesando compras
['Papa', 'Caramelo', 'Camote', 'Zanahoria']
['Papa', 'Caramelo', 'Camote', 'Zanahoria']
Zanahoria
['Papa', 'Caramelo', 'Camote']
Camote
['Papa', 'Caramelo']
Caramelo
['Papa']
Papa
[]

In [28]:
my_list = [1, 2, 3, 4, 5, 6, [7, 8, 9], 10, 11, 12]

# 1. con indice negativo [3, 4, 5]
# 2. extrae el listado [7, 8, 9]
# 3. extrae el valor 8
# 4. extrae el listado [[7, 8, 9], 10, 11, 12]

# 1. [>  inicio,  fin +1
print(my_list[2:5])
print(my_list[-8:-5])

# 2.
print(my_list[6])
print(my_list[-4])

# 3.
print(my_list[6][1])

# 4.
print(my_list[6:])

[3, 4, 5]
[3, 4, 5]
[7, 8, 9]
[7, 8, 9]
8
[[7, 8, 9], 10, 11, 12]

Sort organiza la lista en orden al reez de menor a mayor, sort(reerse = True) Useful to reverse the orden of information in a list.

In [44]:
numbers = [3,7,1,2,6,4]
numbers.sort()
print(numbers)

numbers = [3,7,1,2,6,4]
numbers.sort(reverse= True)
print(numbers)

pair_numbers = []
for i in range(0,30,2):
  pair_numbers.append(i)

print(pair_numbers)
pair_numbers.sort(reverse= True) # Doesnt return a value, it change base list. Sort without argument arrange information from lowest to highest.
print(pair_numbers)

[1, 2, 3, 4, 6, 7]
[7, 6, 4, 3, 2, 1]
[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28]
[28, 26, 24, 22, 20, 18, 16, 14, 12, 10, 8, 6, 4, 2, 0]

Programa que permite ingresar el nombre de un estudiante y preguntes la nota de los cursos de matematicas, programación estadisticas, luego calcule su promedio y guarde en los listas separadas su nombre y su nota fina. El programa debe terminar cuando el usuario indique salir.

In [55]:
lista_one = []
lista_one.append([1,"Perro"])
print(lista_one)

[[1, 'Perro']]

In [74]:
# Fill information about student and marks from differents courses.
# Estimate the average and storage.
list_student = []
math_grades = []
stad_grades = []
average_grades = []
flag = True

while flag :
  student_name = input ("Insert your name : ")
  math_mark = int(input ("Insert your Math grade : "))
  Stad_mark = int(input ("Insert your Stad grade : "))
  list_student.append(student_name)
  math_grades.append(math_grades)
  stad_grades.append(stad_grades)
  average_grades.append([student_name, (math_mark+Stad_mark)/2])
  salir = input("Write exit to finish the program: ")
  if salir.lower().strip() == "exit":
      flag = False

print(average_grades)

Insert your name : Eors
Insert your Math grade : 20
Insert your Stad grade : 10
Write exit to finish the program: N
Insert your name : Carlos
Insert your Math grade : 10
Insert your Stad grade : 15
Write exit to finish the program: n
Insert your name : Santiago
Insert your Math grade : 10
Insert your Stad grade : 2
Write exit to finish the program: Exit
[['Eors', 15.0], ['Carlos', 12.5], ['Santiago', 6.0]]

In [75]:
list_student = ['eros','pedro','juan']
math_grades = [8,12,13]
stad_grades = [20,8,6]
promedio = []
final_promedio_student = []
flag = True
while flag:
  student = input("Write the name of the student: ")
  if student in list_student:
    position = list_student.index(student)
    final_promedio = (math_grades[position] +
                      stad_grades[position]
                      ) / 2
    final_promedio_student.append([student, final_promedio])
    print(final_promedio_student[position])
  else:
    print("You are not a student")
    salir = input("Write exit to finish the program: ")
    if salir.lower().strip() == "exit":
      flag = False

print(final_promedio_student)

KeyboardInterrupt: Interrupted by user

Usando range , imprima los multiplos de 13 menores de 200.

In [ ]:
list(range(0,200,13))

[0, 13, 26, 39, 52, 65, 78, 91, 104, 117, 130, 143, 156, 169, 182, 195]

In [ ]:
print(my_list[:5])

[1, 2, 3, 4, 5]

In [ ]:
a = my_list[6]
a[1]

8

In [ ]:
len(my_list)

10

In [ ]:
list_a = ['R', 'Python', 'C++']
list_b = ['spark', 'julia', 'pytorch']

list_a + list_b

['R', 'Python', 'C++', 'spark', 'julia', 'pytorch']

In [ ]:
list_a.append(['spark', 'julia', 'pytorch'])
print(list_a)

['R', 'Python', 'C++', 'spark', 'julia', 'pytorch', ['spark', 'julia', 'pytorch'], ['spark', 'julia', 'pytorch']]

In [ ]:

# Escribe un programa que va a recibir el nombre de los estudiantes y los va a guardar en una lista

list_names = []
while True:
    name = input('Hola, ¿Cuál es tu nombre? (escriba exit para salir): ')
    if name == 'exit':
        break
    else:
        list_names.append(name)
        print('lista actualizada:', list_names)

Hola, ¿Cuál es tu nombre? (escriba exit para salir): Diego
lista actualizada: ['Diego']
Hola, ¿Cuál es tu nombre? (escriba exit para salir): Edwin
lista actualizada: ['Diego', 'Edwin']
Hola, ¿Cuál es tu nombre? (escriba exit para salir): Enrique
lista actualizada: ['Diego', 'Edwin', 'Enrique']
Hola, ¿Cuál es tu nombre? (escriba exit para salir): Fernando
lista actualizada: ['Diego', 'Edwin', 'Enrique', 'Fernando']
Hola, ¿Cuál es tu nombre? (escriba exit para salir): Geraldo
lista actualizada: ['Diego', 'Edwin', 'Enrique', 'Fernando', 'Geraldo']
Hola, ¿Cuál es tu nombre? (escriba exit para salir): Hugo
lista actualizada: ['Diego', 'Edwin', 'Enrique', 'Fernando', 'Geraldo', 'Hugo']
Hola, ¿Cuál es tu nombre? (escriba exit para salir): exit

In [ ]:
list_names[-2]

'Geraldo'

In [77]:
# Crear una lista de frutas
frutas = ["manzana", "banana", "naranja", "uva", "pera"]

In [ ]:

# Acceder a elementos individuales
primera_fruta = frutas[0]
ultima_fruta = frutas[-1]
print(primera_fruta, ultima_fruta)

In [ ]:
# Modificar un elemento
frutas[1] = "plátano"
print(frutas)

### Ejemplo 1.2: Métodos útiles de listas

In [ ]:
# Agregar un elemento al final
frutas.append("kiwi")
print(frutas)

In [ ]:

# Insertar un elemento en una posición específica
frutas.insert(2, "mango")
print(frutas)

In [ ]:
# Eliminar un elemento
frutas.remove("naranja")
print(frutas)

In [79]:
# Ordenar una lista
frutas = ["manzana", "banana", "naranja", "uva", "pera"]
frutas.sort()
print(frutas)

['banana', 'manzana', 'naranja', 'pera', 'uva']

In [ ]:
# Ordenar en reversa
frutas.sort(reverse=True)
print(frutas)

### Ejemplo 1.3: Operaciones numéricas con listas

In [80]:
digits = [1, 2, 3, 4, 5, 6, 7, 8, 9, 0]

print("Mínimo:", min(digits))
print("Máximo:", max(digits))
print("Suma:", sum(digits))


numeros = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

# Mínimo, máximo y suma

# Longitud de la lista


# Promedio de los valores en la lista

Mínimo: 0
Máximo: 9
Suma: 45
Mínimo: 1
Máximo: 10
Suma total: 55
Cantidad de elementos: 10
Promedio: 5.5

In [ ]:
#[>
for x in range(1, 100):
  print(x)

## 1.2: Uso de la función range()

La función range() se utiliza para generar secuencias de números, y es especialmente útil cuando se quiere evitar la creación manual de listas largas de números consecutivos.

### Ejemplo 1.4: Creación de listas con range()

In [ ]:
# Crear una lista con los números del 1 al 10
lista_numeros = list(range(1, 11))
print("Números del 1 al 10:", lista_numeros)

In [ ]:
# Crear una lista con los números pares entre 2 y 20
pares = list(range(2, 21, 2))
print("Números pares del 2 al 20:", pares)

In [83]:
# Crear una lista de números en orden inverso (del 10 al 1)
reversa = list(range(10, 0, -1))
print("Números en orden inverso:", reversa)

# Write a list from decreasing order.
reverse = list(range(20,9, -1))
print(reverse)

Números en orden inverso: [10, 9, 8, 7, 6, 5, 4, 3, 2, 1]
[20, 19, 18, 17, 16, 15, 14, 13, 12, 11, 10]

In [ ]:
# Crear una lista de múltiplos de 5 entre 0 y 50
multiplos_de_5 = list(range(0, 51, 5))
print("Múltiplos de 5 entre 0 y 50:", multiplos_de_5)

### Ejercicio 1.1: Operaciones numéricas con listas

- Crea una lista de números entre 1 y 100 usando la función range() (verás cómo usarla en el próximo ejemplo).

- Calcula la media de los valores de la lista usando las funciones sum() y len().

- Usa sorted() para crear una lista ordenada inversamente de los primeros 50 números.

- Crea una lista que contenga solo los números mayores a 50, multiplicados por 2.

## <b>2. Listas por Comprensión</b>

Las listas por comprensión son una forma concisa de crear listas nuevas a partir de una expresión. Se pueden utilizar para realizar operaciones sobre secuencias de forma más rápida y sin necesidad de ciclos explícitos.

In [ ]:
for x in [1, 2, 3]:
  print(x)

1
2
3

In [ ]:
[x for x in [1, 2, 3]]

[1, 2, 3]

In [ ]:
[x for x in range(1, 11)]

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
from math import log

[log(x) for x in range(1, 21)]

[0.0,
 0.6931471805599453,
 1.0986122886681098,
 1.3862943611198906,
 1.6094379124341003,
 1.791759469228055,
 1.9459101490553132,
 2.0794415416798357,
 2.1972245773362196,
 2.302585092994046,
 2.3978952727983707,
 2.4849066497880004,
 2.5649493574615367,
 2.6390573296152584,
 2.70805020110221,
 2.772588722239781,
 2.833213344056216,
 2.8903717578961645,
 2.9444389791664403,
 2.995732273553991]

In [ ]:
[x*2 for x in range(100, 501) if x%17 == 0]

[204,
 238,
 272,
 306,
 340,
 374,
 408,
 442,
 476,
 510,
 544,
 578,
 612,
 646,
 680,
 714,
 748,
 782,
 816,
 850,
 884,
 918,
 952,
 986]

In [ ]:
features_pas = ['ahorros_prom12', 'abonos_prom12', 'cargos_prom12', 'trxn_prom12']
features_rcc = ['deuda_prom12', 'entidades_prom12', 'atraso_prom12']

my_list1 = ['pas_'  + x.upper() for x in features_pas]
my_list2 =  ['rcc_' + x.upper() for x in features_pas]

my_list1 + my_list2

['pas_AHORROS_PROM12',
 'pas_ABONOS_PROM12',
 'pas_CARGOS_PROM12',
 'pas_TRXN_PROM12',
 'rcc_AHORROS_PROM12',
 'rcc_ABONOS_PROM12',
 'rcc_CARGOS_PROM12',
 'rcc_TRXN_PROM12']

### Ejemplo 2.1: Generación de listas por comprensión

In [ ]:
# Crear una lista de cuadrados de los números del 1 al 10
cuadrados = [x**2 for x in range(1, 11)]
print(cuadrados)

In [ ]:
# Crear una lista de números pares entre 1 y 20
pares = [x for x in range(1, 21) if x % 2 == 0]
print(pares)

### Ejemplo 2.2: Listas por comprensión con manipulación de cadenas

In [ ]:
# Crear una lista con las primeras letras en mayúsculas de una lista de nombres

nombres = ["juan", "pedro", "ana", "maria"]
nombres_mayuscula = [nombre.capitalize() for nombre in nombres]
print(nombres_mayuscula)

### Ejercicio 2: Creación avanzada con listas por comprensión

- Crea una lista de los números impares entre 1 y 50.
- Genera una lista con los cubos de los primeros 10 números (1 al 10).
- Dada una lista de palabras, crea una nueva lista que contenga las palabras con más de 4 letras en mayúsculas.

In [ ]:
# 1. Crea una lista de los números impares entre 1 y 50.

lista_impares = [x for x in range(1,51) if x%2 != 0]
print(lista_impares)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49]

In [ ]:
# 2. Genera una lista con los cubos de los primeros 10 números (1 al 10).

[x**3 for x in range(1, 11)]

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [ ]:
# 3. Dada una lista de palabras, crea una nueva lista que contenga las palabras con más de 4 letras en mayúsculas

word_list = []

while True:
  word = input("Ingrese una palabra (escriba exit para salir): ")
  if word == "exit":
    break
  else:
    word_list.append(word)
    print("lista actualizada", word_list)

word_mayusculaa = [word.upper() for word in word_list if len(word) > 4]
print(word_mayusculaa)

In [ ]:
for x in 'jOhN':
    if x == x.upper():
        print(x)

O
N

In [ ]:
word = ''
len([x for x in word if x == x.upper()])

2

In [ ]:

word_list = []

while True:
  word = input("Ingrese una palabra (escriba exit para salir): ")
  if word == "exit":
    break
  else:
    word_list.append(word)
    print("lista actualizada", word_list)

word_mayusculaa = [word for word in word_list if len([x for x in word if x == x.upper()]) > 4]
print(word_mayusculaa)

Ingrese una palabra (escriba exit para salir): john
lista actualizada ['john']
Ingrese una palabra (escriba exit para salir): MIA
lista actualizada ['john', 'MIA']
Ingrese una palabra (escriba exit para salir): ANGELO
lista actualizada ['john', 'MIA', 'ANGELO']
Ingrese una palabra (escriba exit para salir): DIEGO
lista actualizada ['john', 'MIA', 'ANGELO', 'DIEGO']
Ingrese una palabra (escriba exit para salir): sebastian
lista actualizada ['john', 'MIA', 'ANGELO', 'DIEGO', 'sebastian']
Ingrese una palabra (escriba exit para salir): exit
['ANGELO', 'DIEGO']

In [ ]:

def greatings():
  """Esta función saluda a los estudiantes nuevos"""
  print('Bienvenido al curso!')

In [ ]:
greatings()

Bienvenido al curso!

In [ ]:

def greatings(name):
  """Esta función saluda a los estudiantes nuevos"""
  print(f'Bienvenido al curso {name}!')

In [ ]:
greatings('John')

Bienvenido al curso John!

In [ ]:
greatings('Edwin')

Bienvenido al curso Edwin!

In [ ]:
greatings('Edgar')

Bienvenido al curso Edgar!

In [ ]:

def sum(a, b):
  """Esta función suma dos argumentos a y b"""
  print(f'la suma es: {a + b}')

In [ ]:
sum(4, 5)

la suma es: 9

In [ ]:
sum(5, 12)

la suma es: 17

In [ ]:
sum?

## <b>3. Trabajando con Slicing</b>

El slicing es una técnica que te permite extraer sublistas de listas existentes, seleccionando elementos de una lista mediante índices.

### Ejemplo 3.1: Slicing de listas

In [ ]:
# Crear una lista de letras
letras = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h']

In [ ]:
# Extraer una subsección de la lista
primeras_tres = letras[:3]  # Primeros 3 elementos
print(primeras_tres)

In [ ]:
desde_el_cuarto = letras[3:]  # Desde el cuarto hasta el final
print(desde_el_cuarto)

In [ ]:
ultimos_dos = letras[-2:]  # Los últimos dos elementos
print(ultimos_dos)

### Ejemplo 3.2: Slicing con pasos

In [ ]:
# Crear una lista de números del 1 al 10
numeros = list(range(1, 11))

In [ ]:

# Obtener todos los números en posiciones pares
pares = numeros[1::2]  # Inicia en el segundo elemento y salta de 2 en 2
print(pares)

In [ ]:
# Obtener cada tercer número
tercios = numeros[::3]
print(tercios)

### Ejercicio 3: Aplicaciones de slicing

Crea una lista con los números del 1 al 100. Luego, usando slicing:
- Extrae los primeros 10 números.
- Extrae los últimos 10 números.
- Extrae todos los números en posiciones impares.
- Usa slicing para dividir una lista de palabras en dos mitades.

## <b>4. Trabajando con Tuplas
</b>

Las tuplas son como listas, pero inmutables, lo que significa que no se pueden modificar después de su creación. Son útiles para almacenar datos que no deben cambiar.

### Ejemplo 4.1: Crear y acceder a tuplas

In [ ]:
# Crear una tupla
coordenadas = (10.5, 20.3)

# Acceder a los elementos de la tupla
print("X:", coordenadas[0])
print("Y:", coordenadas[1])

### Ejemplo 4.2: Intento de modificación de una tupla

In [ ]:
# Crear una tupla
dimensiones = (200, 50)

In [ ]:
# Intentar modificar la tupla (esto generará un error)
# dimensiones[0] = 250  # Descomenta esta línea para ver el error

In [ ]:
# Reasignar una nueva tupla
dimensiones = (400, 100)
print("Nuevas dimensiones:", dimensiones)

### Ejercicio 4: Trabajando con tuplas
- Crea una tupla que almacene las dimensiones de un objeto (ancho, alto).
- Intenta modificar un elemento de la tupla y observa el error que genera.
- Reescribe la tupla completa con nuevas dimensiones.

## <b>5. Desafío</b>

### Desafío 1: Análisis de ventas de una tienda de ropa

Eres el encargado de una tienda de ropa y tienes una lista de ventas diarias para diferentes productos. Cada día, vendes camisetas, pantalones y zapatos. Quieres analizar las ventas para entender mejor el rendimiento de cada producto.

<b>Objetivo:</b>

- Crea tres listas: una para camisetas, otra para pantalones y una para zapatos, con la cantidad vendida cada día durante una semana.
- Usa slicing para extraer las ventas de los últimos 3 días de cada producto.
- Usa listas por comprensión para calcular el total de ventas de cada producto y el promedio de ventas diarias.

- Clasifica los productos en "buenas ventas" o "malas ventas" según si el promedio de ventas diarias es mayor o menor a 5.

Instrucciones:
- Genera los datos de ventas usando listas manualmente o simulándolos con valores constantes.
- Calcula el total de ventas por producto usando sum() y el promedio con len().
- Usa listas por comprensión para clasificar las ventas de los productos.

---

# Gracias por completar este laboratorio!

---